@import "~@blueprintjs/core/lib/scss/variables"

//$m-color1 : #364FCD
//$m-color2 : #364FCD
//$m-color3 : #334bc2
//$m-color4 : #2b3ea2
//$m-color5 : #21317d

$m-color1: $blue1
$m-color2: $blue2
$m-color3: $blue3
$m-color4: $blue4
$m-color5: $blue5

$pt-intent-primary: $m-color2
$pt-active: $m-color2
$navbar-background-color: $m-color2 !default
$pt-icon-color: #ffffff !default

@import "./dep"
@import "~@blueprintjs/core/src/blueprint.scss"


.m-color1
  background: $m-color1

.m-color2
  background: $m-color2

.m-color3
  background: $m-color3

.m-color4
  background: $m-color4

.m-color5
  background: $m-color5


body
  font-size: 14px !important
  font-family: CFont, sans-serif !important
//font-family: 'DM Sans', sans-serif

*
  font-family: CFont, sans-serif !important

.whitebutton:before
  color: white !important

.timepickerpop .bp3-menu
  height: 300px
  overflow-y: auto

.h100
  display: flex
  flex: 1
  height: 100%

.rc-tree li .rc-tree-node-content-wrapper
  height: 24px !important

.rc-tree li span.rc-tree-switcher, .rc-tree li span.rc-tree-checkbox, .rc-tree li span.rc-tree-iconEle
  vertical-align: unset !important
  margin-right: 8px !important


.flex-container
  height: 100%
  padding: 0
  margin: 0
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  //align-items: center
  justify-content: center
//
.css-4y0wg1, .css-1vpcs9j,.css-1l6y35l,.css-1tdfia1
  padding-top: 6px !important
  padding-bottom: 6px !important
//sangeethavasu94
//Sangeetha@1994
